* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #7b7b7b;
}

::-webkit-scrollbar-thumb {
  background: #292929;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

body {
  font-family: "Kanit", sans-serif;
  background: #454545;
  overflow-y: visible;
}

.head {
  width: 100%;
  height: 10vh;
  background: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head h2 {
  font-size: 35px;
}

.head img {
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 20px;
}

.head nav {
  position: absolute;
  top: 35px;
  right: 20px;
}

.head nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #dfdfdf;
}

.container {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container-data {
  width: 70%;
  margin: 0 20px 0 15px;
}

.container-data h1 {
  margin-bottom: 30px;
}

.container-img {
  width: 30%;
  margin: 0 0 0 100px;
}

.container-img img {
  height: 520px;
  border: none;
  border-radius: 1%;
}

.container2 {
  height: 100vh;
  width: 98%;
  margin: 100px 0 50px 10px;
  padding: 0 0 0 5px;
}

.container2 a {
  text-decoration: none;
  color: #e63939;
}

.adversaries {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adversaries img {
  width: 200px;
  height: 200px;
}

.container3 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  border: 1px solid #272727;
}

.h1 h1 {
  margin-top: 25px;
  text-align: center;
}

.container3-data {
  width: 70%;
  margin: 0 0 0 15px;
}

a {
  text-decoration: none;
  color: #0c0c0c;
}

.container3-img {
  width: 30%;
  margin: 0 0 0 100px;
}

.container3-img img {
  bottom: 420px;
  height: 320px;
  border: none;
  border-radius: 1%;
}

.container4 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container4-data {
  width: 65%;
  margin: 0 0 0 15px;
}

.container4-img {
  width: 35%;
  margin: 0 0 0 100px;
}

.container4-img img {
  width: 420px;
}

.container5 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container5-data {
  width: 65%;
  margin: 0 0 0 15px;
}

.container5-img {
  width: 35%;
  margin: 0 0 0 100px;
}

.container5-img img {
  width: 420px;
}

.list {
  width: 100%;
  height: 85vh;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

.contact {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact p {
  font-size: 50px;
}

footer {
  clear: both;
  position: relative;
  height: 5vh;
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: #e6c300;
}

span {
  opacity: 0;
}
/*# sourceMappingURL=sytle.css.map */